{% extends 'dashboard/base.html' %}
{% block body %}

<div class="card mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold align-self-center"> تعديل حضور</h6>
    </div>
    <form action="#" method="post">
        <div class="modal-body" style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                {% csrf_token %}
                <div class="form-group">
                    <h3>{{ students.0.date|date:'d-m-Y' }}</h3>
                </div>
                {% for student in students %}
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ student.student.id }}" id="flexRadioDefault2" value="0" {% if student.is_attend == False%}checked{% endif %}>
                        <label class="form-check-label" for="flexRadioDefault2">
                        غائب
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{student.student.id}}" id="flexRadioDefault1" value="1" {% if student.is_attend == True%}checked{% endif %}>
                        <label class="form-check-label" for="flexRadioDefault1">
                        حاضر
                        </label>
                    </div>
                    <label for="" style="display: inline-block;margin:10px;margin-right: 20px;margin-left: 0px;font-size: large;color: #474747;">{{student.student.name}}</label>
                </div>
                {% endfor %}
        </div>
        <div class="modal-footer">
            <input href="#" class="btn btn-success btn-user" type="submit" value="تسجيل"/>
        </div>
    </form>
</div>

{% endblock %}